[/]
tools.staticdir.root = "s:/Users/Alastair/Documents/DotaHut-Scraper/site"
tools.staticfile.root = "s:/Users/Alastair/Documents/DotaHut-Scraper/site"

[/index.html]
tools.staticfile.on = True
tools.staticfile.filename = "index.html"

[/data]
tools.staticdir.on = True
tools.staticdir.dir = "data"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/img]
tools.staticdir.on = True
tools.staticdir.dir = "img"

[/stylesheets]
tools.staticdir.on = True
tools.staticdir.dir = "stylesheets"